<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#">opieandanthonylive</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav">
        <router-link to="/" :exact="true" class="nav-link">Home</router-link>
        <router-link to="/counter" class="nav-link">Counter</router-link>
        <router-link to="/fetchdata" class="nav-link">Fetch Data</router-link>
      </div>
    </div>

  </nav>
</template>
