<template>
  <div class="col-md-5 mx-auto">

    <div class="text-center my-5">
      <h1 class="h1">Create account</h1>
      <h6 class="h6 text-muted">Please enter your information</h6>
    </div>

    <form @submit.prevent="submit" novalidate>

      <form-input v-for="input in inputs" :vm="input"/>

      <div class="text-center mt-5">
        <loading-button type="submit" class="btn-primary btn-lg" :isLoading="false">Create account</loading-button>
      </div>

    </form>

  </div>
</template>

<script src="./create-account.ts"></script>